html, body{
  margin: 0;
  padding: 0;
}

body {
  /*color: slategray;*/
  color: navajowhite;
  font-family: 'Open Sans', sans-serif;
  padding-top: 140px;
  background-color: coral;
  /*background-color: floralwhite;*/
}

h1 {
  color: indianred;
  font-size: 48px;
}

h1,h2,h3,h5{
  text-transform: uppercase;
}

h5{
  margin-top: 20px;
}

#wrapper{
}

#headerWrapper{
text-align: center;
}

#header{
  height: 90px;

}

#searchBar{
  height: 40px;

}

#displayWrapper{

}

#favoritesDisplay{
  border-right: black solid 1px;
  text-align: right;
  font-family: 'Oswald', sans-serif;

}

#eachFavDiv{
  font-size: 16px;
  text-align: right;

}

#favoritesButton{
  text-align: center;
}

#resultsDisplay{

}

#resultsText{
  margin-top: 20px;
}

.poster{
  text-align: center;
  margin-top: 20px;
}

.favorite-text{
  margin: 0;
  margin-top: 10px;
}

.red{
  color: firebrick;
}

.green{
  color: olivedrab;
}
