html, body{
  margin: 0;
  padding: 0;
}

body {
  color: slategray;
  font-family: 'Open Sans', sans-serif;
  padding-top: 140px;
  background-color: floralwhite;
}

h1 {
  color: indianred;
  font-size: 48px;
}

#wrapper{
}

#headerWrapper{
text-align: center;
}

#header{
  height: 90px;

}

#searchBar{
  height: 40px;

}

#displayWrapper{

}

#favoritesDisplay{
  border-right: black solid 1px;
  text-align: right;
  font-family: 'Oswald', sans-serif;

}

#eachFavDiv{
  font-size: 16px;
  text-align: right;

}

#favoritesButton{
  text-align: left;
}

#resultsDisplay{

}

.poster{
  text-align: center;
}

.favorite-text{
  margin: 0;
  margin-top: 10px;
}

.red{
  color: firebrick;
}

.green{
  color: olivedrab;
}
