<div id = 'headerWrapper' class = 'navbar navbar-default navbar-fixed-top'>

  <div id = 'header' class = 'row hidden-sm hidden-xs'>
    <h1> Keith &hearts; 's Movies <small class = 'even-smaller'>* not affiliated with Doug Loves Movies</small></h1>
  </div>

  <div id = 'searchBar' class = 'row' ng-controller = 'SearchController'>
    <form class="form-inline">

      <div class="form-group">
        <input type="text" class="form-control" id="searchMovieTitle" placeholder="Enter Movie Title" ng-model='searchObject.title'>
      </div>

      <button type="button" class="btn btn-default" ng-click='findMovie(searchObject)'>Search</button>

    </form>
  </div>

</div>
