<!DOCTYPE html>
<html ng-app="klmApp">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">

    <title>Keith Loves Movies (not affiliate with Doug Loves Movies)</title>

    <link rel="stylesheet" href="vendors/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="styles/style.css">

    <script type="text/javascript" src="vendors/jquery/jquery.js"></script>
    <script type="text/javascript" src="vendors/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="vendors/angular/angular.js"></script>
    <script type="text/javascript" src="scripts/client.js"></script>


  </head>
  <body ng-controller='MainController'>
    <div id = 'wrapper' class = 'container'>
      <div id = 'headerWrapper' class = 'navbar navbar-default navbar-fixed-top'>

        <div id = 'header' class = 'row'>
          <h1> Keith Loves Movies <small>* not affiliated with Doug Loves Movies</small></h1>
        </div>

        <div id = 'searchBar' class = 'row' >
          <form class="form-inline">

            <div class="form-group">
              <input type="text" class="form-control" id="searchMovieTitle" placeholder="Enter Movie Title" ng-model='searchObject.title'>
            </div>

            <button type="button" class="btn btn-default" ng-click='findMovie(searchObject)'>Search</button>

          </form>
        </div>

      </div>

      <div id = 'displayWrapper' class = 'row'>

        <div id = 'favoritesDisplay' class = 'col-sm-3'>
          <strong>Favorites</strong>
          <p ng-repeat = 'movieTitle in favorites.list'>{{movieTitle.title}}</p>
        </div>

        <div id = 'resultsDisplay' class = 'col-sm-9'>
          <div class = 'row' >

            <div class = 'col-sm-6'>
              <img src="{{searchResult.movie.poster}}">
            </div>

            <div class = 'col-sm-6'>
              <strong>Directed by:</strong>
              <p>{{searchResult.movie.director}}</p>
              <strong>Written by:</strong>
              <p>{{searchResult.movie.writer}}</p>
              <p>{{searchResult.movie.year}}</p>
              <p>{{searchResult.movie.plot}}</p>
              <button type="button" class="btn btn-default" ng-click = 'addToFavorites(searchResult.movie.title,searchResult.movie.year)'>
                Add to Favorites
              </button>

            </div>
          </div>
        </div>

      </div>

    </div>
  </body>
</html>
