<!DOCTYPE html>
<html ng-app="klmApp">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">

    <title>Keith Loves Movies</title>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Oswald" rel="stylesheet">
    <link rel="stylesheet" href="vendors/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="styles/style.css">

    <script type="text/javascript" src="vendors/jquery/jquery.js"></script>
    <script type="text/javascript" src="vendors/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="vendors/angular/angular.js"></script>
    <script type="text/javascript" src="scripts/client.min.js"></script>


  </head>
  <body>
    <div id = 'wrapper' class = 'container'>

      <div ng-include= "'views/partials/nav.html'"></div>

      <div id = 'displayWrapper' class = 'row'>

        <div id = 'favoritesDisplay' class = 'col-md-3' ng-controller = 'FavoritesController'>
          <h2>Favorites</h2>
          <div id = 'eachFavDiv' ng-repeat = 'movie in favorites.list | orderBy:"year"'>
            <p class = 'favorite-text'>{{movie.title}} - {{movie.year}}</p>
              <button type="button" class="btn btn-default btn-xs" ng-click='findMovie(movie)' >
                <span class="glyphicon glyphicon-search green"></span>
              </button>
              <button type="button" class="btn btn-default btn-xs" ng-click='deleteMovie(movie._id)' >
                <span class="glyphicon glyphicon-remove red"></span>
              </button>
          </div>
        </div>

        <div id = 'resultsDisplay' class = 'col-md-9' ng-controller = 'DisplayController' >
          <div class = 'row' >

            <div class = 'poster col-md-6'>
              <!-- <img ng-class="classesObject.classes" src="{{searchResult.movie.poster}}"> -->
            </div>

            <div class = 'col-md-6'>
              <div class = 'row' ng-class="classesObject.classes">
                <div id = 'resultsText' class = 'col-md-9'>
                  <strong>Directed by:</strong>
                  <p>{{searchResult.movie.director}}</p>
                  <strong>Written by:</strong>
                  <p>{{searchResult.movie.writer}}</p>
                  <p>{{searchResult.movie.year}}</p>
                  <p>{{searchResult.movie.plot}}</p>
                </div>

                <div id = 'favoritesButton' class = 'col-md-3'>
                  <h5>Add to Favorites</h5>
                  <button type="button" class="btn btn-default btn-xl" ng-click = 'addToFavorites(searchResult.movie.title,searchResult.movie.year)'>
                    <span class="glyphicon glyphicon-heart red"></span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </body>
</html>
