<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">

    <title>Keith Loves Movies (not affiliate with Doug Loves Movies)</title>

    <link rel="stylesheet" href="vendors/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="styles/style.css">

    <script type="text/javascript" src="vendors/jquery/jquery.js"></script>
    <script type="text/javascript" src="vendors/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="vendors/angular/angular.js"></script>
    <script type="text/javascript" src="scripts/client.js"></script>


  </head>
  <body>
    <h1> is this thing on?</h1>

  </body>
</html>
